:root {
  --main-color: rgba(140,240,140,1);
  --highlight-color: rgba(200,255,200,.5);
}

.App {
  text-align: center;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.item-dropdown-container {
  width:85%;
  position: relative;
  margin-bottom: 4px;

}
.item-dropdown-header {
  background: var(--main-color);
} .item-dropdown-header .dropdown-arrow {
  position: absolute;
  right: 0;
  padding: 0 8px;
  color: rgba(0,0,0,.5)
}
.item-dropdown-info {
  max-height:0;
  overflow:hidden;
  transition: all .5s ease-out;

  text-align: left;
  border:solid 2px var(--main-color);
  
}
.item-dropdown-line {
  display: grid;
  grid-template-columns: 100px auto;
  white-space: pre-line;
}
.item-dropdown-line:nth-of-type(even) {
  background: var(--highlight-color);
}
.item-dropdown-banner-img {
  width:100%;
  height: 100px;
  background-size: cover;
  background-position: center center;
}
.item-dropdown-banner-img-none {
  text-align:center;
  font-style: italic;
  color: rgba(0,0,0,.5);
  margin: 8px auto;
}


.form-container form {
  width:95%;
  display:grid;
  grid-template-columns: 100px auto;
  column-gap: 4px;
  row-gap: 8px;
}

.form-buttons {
  display:flex;
}
.form-buttons button {
  padding: 2px;
}
.form-buttons button[type=submit] {
  flex: 3;
  margin-right:12px;
  font-weight:bold;
}
.form-buttons button[type=cancel] {
  flex: 1;

}