:root {
  --main-color: rgb(20, 158, 124);
  --main-color-50: rgba(20, 158, 124, 0.5);
  --main-color-25: rgba(20, 158, 124, 0.25);
  --main-color-highlight: #89cebd;
  --highlight-color: rgba(69, 235, 193, 0.5);
  --secondary-color: rgb(236, 118, 78);
  --secondary-color-highlight: rgba(211, 97, 58, 1);
  --page-max-width: 900px;
}

/* Custom colors (Bootstrap override)  */
button.btn {
  margin: 4px 8px;
}
button.btn-primary, button.btn-primary:focus {
  background-color: var(--main-color);
  border: solid thin var(--main-color-50);
}
button.btn-primary:hover {
  background-color: var(--main-color-50);
  border: solid thin var(--main-color);
}

input.form-control:focus {
  box-shadow: 0 0 3px 3px var(--main-color-50);
}


/* MAIN APP STYLING */
* {
  font-family: 'Josefin Sans', sans-serif;

}
.App {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  box-sizing: border-box;
  background-color: (255,255,255,.75);
}
.App-body {
  height: calc(100vh - 65px);
  overflow-y: auto;
}
header {
  /* margin-bottom: 16px; */
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */

/* NAV BAR CUSTOM STYLING */
.navbar {
  background-color: var(--main-color-highlight);
}
.navbar-brand img {
  height: 36px;
}
button.navbar-toggler {
  background: rgba(255,255,255,.5);
}
button.navbar-toggler:focus {
  background: rgba(255,255,255,.75);
  border: solid 2px var(--main-color);
  box-shadow: 0 0 .25rem 0 var(--main-color);
}
.navbar-nav a, .navbar-nav a:visited {
  color: white;
  font-weight: bold;
  border-radius: 8px;
}
@media (min-width: 992px) {  
  .navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
  }
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:visited, .navbar-light .navbar-nav .show>.nav-link {
  color: var(--main-color);
  text-decoration: underline;
  background-color: rgba(255,255,255,.25);
}
.navbar-nav a:hover, .navbar-light .navbar-nav .nav-link.active:hover {
  background-color: rgba(255,255,255,.65);
  border-radius: 8px;
}

/* GENERIC ELEMENTS */
a, a:visited {
  color: var(--secondary-color);
}
a:hover, a.btn-link:hover {
  color: var(--secondary-color-highlight);
}
.form {
  width:90%;
  max-width: var(--page-max-width);
  margin: auto;
  padding: 12px;
  border: solid 3px var(--main-color);
  border-radius: 8px;
  background-color: rgba(255,255,255,.75);
  z-index:10;
}
.logout-wrapper {
  width:90%;
  max-width: var(--page-max-width);
  margin: auto;
  padding: 12px;
  border: solid 3px var(--main-color-50);
  border-radius: 8px;
  background-color: rgba(255,255,255,1);
  z-index:10;

}

.splash-logo {
  max-width:75%;
  max-height: calc(100vh - 90px);
  margin: 18px auto;
  opacity: 50%;
  position: fixed;
  top:50%;
  transform: translate(0,-50%);
  z-index:-1;
}

.flex-full-col, .flex-full-col-start {
  min-height: calc(100vh - 72px);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index:10;

}
.flex-full-col-start {
  padding-top:12px;
  justify-content: start;
  background-color: rgba(255,255,255,.75);
}



/* MAIN PAGE DROPDOWN COMPONENTS */
.section-title {
  margin-top: 1em;
}
.dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.item-dropdown-container {
  width:98%;
  max-width: var(--page-max-width);
  position: relative;
  margin-bottom: 4px;

}
.item-dropdown-header {
  background: var(--main-color);
} .item-dropdown-header .dropdown-arrow {
  position: absolute;
  right: 0;
  padding: 0 8px;
  color: rgba(0,0,0,.5)
}
.accordion-header .accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: var(--main-color-50);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-header .accordion-button:not(.collapsed)::after {
  background-color: white;
}
.accordion-header .accordion-button.collapsed:focus {
  border-color: var(--main-color-50);
  box-shadow: 0 0 3px .1rem var(--main-color-50);
}
.item-dropdown-info {
  max-height:0;
  overflow:hidden;
  word-wrap: normal;
  transition: all .5s ease-out;

  text-align: left;
  border:solid 2px var(--main-color);
  
}
.item-dropdown-line-title {
  text-transform: capitalize;
  font-weight:bold;
}
.item-dropdown-line {
  display: grid;
  grid-template-columns: 100px auto;
  white-space: pre-line;
  word-break: break-word;
}

@media (min-width: 992px) {
  .item-dropdown-content.col-lg-9 {
    text-align: left;
  }
}



.item-dropdown-line:nth-of-type(even) {
  background: var(--highlight-color);
}
.item-dropdown-banner-img, .item-dropdown-banner-img img {
  max-width:100%;
  max-height: 200px;
  background-size: cover;
  background-position: center center;
}
.item-dropdown-banner-img img {
  opacity: 0;
}

.item-dropdown-banner-img-none {
  text-align:center;
  font-style: italic;
  color: rgba(0,0,0,.5);
  margin: 8px auto;
}


.form-container form {
  /* width:95%;
  display:grid;
  grid-template-columns: 100px auto;
  column-gap: 4px;
  row-gap: 8px; */
}

.form-buttons {
  display:flex;
}
.form-buttons button {
  padding: 2px;
}
.form-buttons button[type=submit] {
  flex: 3;
  margin-right:12px;
  font-weight:bold;
}
.form-buttons button[type=cancel] {
  flex: 1;
}
.form-plants, .form-houseplants, .form-locations {
  margin-top: 16px;
}





/* CALENDAR */
a.fc-event {
  cursor: pointer;
}
div.fc-daygrid-day-top {
  background: rgba(255,255,255,.75);
  padding: 0px;
}
.fc a.fc-daygrid-day-number {
  padding: 2px;
  color: var(--main-color);
}

#calendar-event-modal .modal-header {
  padding: .75em 1em 0 1em;
  background: var(--main-color-50);
}
#calendar-event-modal .modal-title {
  line-height: 1em;
}
#calendar-event-modal .event-modal-body-section {
  padding: 0 8px;  
}
#calendar-event-modal .event-modal-body-section:nth-of-type(odd) {
  background: var(--main-color-25);
}
#calendar-event-modal .event-modal-body-section span {
  font-weight: 300;
}
#calendar-event-modal .event-modal-body-section.eventfocus {
  border: solid 2px blue;
  background-color: lightskyblue;
}


div.sidebar-list-column {
  text-align: justify;
  justify-items: center;
  align-items: center;
}
div.sidebar-list-container {
  margin:0 auto;
  /* border: solid thin #cdcdcd; */
  padding: 8px;
  padding-left: 8px;
  font-size: .85em;
}
div.sidebar-list-container .list-group-item {
  padding: 4px;
  line-height: 1em;
  cursor: pointer;
}
div.sidebar-list-container .list-group-item:hover {
  background-color: var(--main-color-25);
}
